<!DOCTYPE html>
<html>
  <head>
    <title>Iuvo group</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/bootstrap.min.css">
    <script type="text/javascript" src="../node_modules/androidjs/lib/androidjs.js"></script>
    <style type="text/css">
      html, body { height: 100%; }
    </style>
  </head>

  <body>
    <div class="container h-100 d-flex justify-content-center">
        <div class="my-auto">
          <h5>Loading...</h5>
        </div>
    </div>
    <script type="text/javascript">
      app.loadURL('https://www.iuvo-group.com/de/login/');
    </script>
  </body>

</html>